## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Overall Weather,Weather Description,Max Temp,Humidity,Cloudiness,Wind Speed,Rain Inches (last 3 hrs),Snow Inches (last 3 hrs)
0,0,Rikitea,PF,2022-02-06 15:03:51,-23.1203,-134.9692,Clouds,overcast clouds,78.64,72,100,16.46,0.0,0.0
1,1,Gorzow Wielkopolski,PL,2022-02-06 15:00:11,52.7368,15.2288,Rain,light rain,45.59,77,100,11.01,0.0,0.0
2,2,Dehloran,IR,2022-02-06 15:03:51,32.6941,47.2679,Clear,clear sky,55.99,45,0,9.75,0.0,0.0
3,3,Baijiantan,CN,2022-02-06 15:03:52,45.6333,85.1833,Clear,clear sky,5.36,85,3,4.32,0.0,0.0
4,4,Laguna,US,2022-02-06 15:03:52,38.4210,-121.4238,Mist,mist,48.34,91,0,0.00,0.0,0.0

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input('What is the minimum temperature you would like for your trip?'))
max_temp = float(input('What is the maximum temperature you would like for your trip?'))

What is the minimum temperature you would like for your trip?65
What is the maximum temperature you would like for your trip?90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_temp_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)] 
preferred_cities_temp_df.head()
preferred_cities_temp_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 240 entries, 0 to 548
Data columns (total 14 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   City_ID                   240 non-null    int64
 1   City                      240 non-null    object
 2   Country                   236 non-null    object
 3   Date                      240 non-null    object
 4   Lat                       240 non-null    float64
 5   Lng                       240 non-null    float64
 6   Overall Weather           240 non-null    object
 7   Weather Description       240 non-null    object
 8   Max Temp                  240 non-null    float64
 9   Humidity                  240 non-null    int64
 10  Cloudiness                240 non-null    int64
 11  Wind Speed                240 non-null    float64
 12  Rain Inches (last 3 hrs)  240 non-null    float64
 13  Snow Inches (last 3 hrs)  240 non-null    float64
dtypes: float64(6), int64(3), object(5)
memory usage: 28.1+ KB

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_temp_df = preferred_cities_temp_df.dropna()
preferred_cities_temp_df

,City_ID,City,Country,Date,Lat,Lng,Overall Weather,Weather Description,Max Temp,Humidity,Cloudiness,Wind Speed,Rain Inches (last 3 hrs),Snow Inches (last 3 hrs)
0,0,Rikitea,PF,2022-02-06 15:03:51,-23.1203,-134.9692,Clouds,overcast clouds,78.64,72,100,16.46,0.0,0.0
5,5,Mecca,SA,2022-02-06 15:00:12,21.4267,39.8261,Clear,clear sky,76.84,24,0,14.52,0.0,0.0
6,6,Atuona,PF,2022-02-06 15:03:52,-9.8000,-139.0333,Clouds,few clouds,78.42,74,15,20.51,0.0,0.0
7,7,Abu Dhabi,AE,2022-02-06 15:00:09,24.4667,54.3667,Clear,clear sky,67.96,63,0,1.99,0.0,0.0
8,8,Jardim,BR,2022-02-06 15:03:53,-21.4803,-56.1381,Clouds,overcast clouds,78.53,74,100,7.78,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
541,541,Teluk Intan,MY,2022-02-06 15:06:49,4.0259,101.0213,Clouds,overcast clouds,75.02,94,97,1.12,0.0,0.0
542,542,Beira,MZ,2022-02-06 15:06:49,-19.8436,34.8389,Rain,light rain,81.50,77,8,12.71,0.0,0.0
545,545,Amahai,ID,2022-02-06 15:06:50,-3.3333,128.9167,Clouds,overcast clouds,79.21,81,95,3.76,0.0,0.0
546,546,Kuah,MY,2022-02-06 15:06:51,6.3265,99.8432,Rain,heavy intensity rain,82.09,71,58,16.06,0.0,0.0
548,548,Nioaque,BR,2022-02-06 15:06:51,-21.1353,-55.8300,Clouds,overcast clouds,82.13,70,97,7.85,0.0,0.0

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_temp_df = preferred_cities_temp_df.dropna()
clean_df

,City_ID,City,Country,Date,Lat,Lng,Overall Weather,Weather Description,Max Temp,Humidity,Cloudiness,Wind Speed,Rain Inches (last 3 hrs),Snow Inches (last 3 hrs)
0,0,Rikitea,PF,2022-02-06 15:03:51,-23.1203,-134.9692,Clouds,overcast clouds,78.64,72,100,16.46,0.0,0.0
5,5,Mecca,SA,2022-02-06 15:00:12,21.4267,39.8261,Clear,clear sky,76.84,24,0,14.52,0.0,0.0
6,6,Atuona,PF,2022-02-06 15:03:52,-9.8000,-139.0333,Clouds,few clouds,78.42,74,15,20.51,0.0,0.0
7,7,Abu Dhabi,AE,2022-02-06 15:00:09,24.4667,54.3667,Clear,clear sky,67.96,63,0,1.99,0.0,0.0
8,8,Jardim,BR,2022-02-06 15:03:53,-21.4803,-56.1381,Clouds,overcast clouds,78.53,74,100,7.78,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
541,541,Teluk Intan,MY,2022-02-06 15:06:49,4.0259,101.0213,Clouds,overcast clouds,75.02,94,97,1.12,0.0,0.0
542,542,Beira,MZ,2022-02-06 15:06:49,-19.8436,34.8389,Rain,light rain,81.50,77,8,12.71,0.0,0.0
545,545,Amahai,ID,2022-02-06 15:06:50,-3.3333,128.9167,Clouds,overcast clouds,79.21,81,95,3.76,0.0,0.0
546,546,Kuah,MY,2022-02-06 15:06:51,6.3265,99.8432,Rain,heavy intensity rain,82.09,71,58,16.06,0.0,0.0
548,548,Nioaque,BR,2022-02-06 15:06:51,-21.1353,-55.8300,Clouds,overcast clouds,82.13,70,97,7.85,0.0,0.0

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Weather Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,Rikitea,PF,78.64,overcast clouds,-23.1203,-134.9692,
5,Mecca,SA,76.84,clear sky,21.4267,39.8261,
6,Atuona,PF,78.42,few clouds,-9.8000,-139.0333,
7,Abu Dhabi,AE,67.96,clear sky,24.4667,54.3667,
8,Jardim,BR,78.53,overcast clouds,-21.4803,-56.1381,
10,Kailua,US,73.49,few clouds,21.4022,-157.7394,
16,Cape Town,ZA,87.12,few clouds,-33.9258,18.4232,
17,Faanui,PF,80.92,light rain,-16.4833,-151.7500,
21,Puerto Ayora,EC,80.56,broken clouds,-0.7393,-90.3518,
25,Chicama,PE,68.54,overcast clouds,-7.8447,-79.1469,

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.

    # 6c. Get latitude and longitude from DataFrame
for index, row in hotel_df.iterrows(): 
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"  

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [10]:
hotel_df.head()

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,Rikitea,PF,78.64,overcast clouds,-23.1203,-134.9692,People ThankYou
5,Mecca,SA,76.84,clear sky,21.4267,39.8261,"Makkah Clock Royal Tower, A Fairmont Hotel"
6,Atuona,PF,78.42,few clouds,-9.8000,-139.0333,Villa Enata
7,Abu Dhabi,AE,67.96,clear sky,24.4667,54.3667,Beach Rotana
8,Jardim,BR,78.53,overcast clouds,-21.4803,-56.1381,Estancia Hotel - Jardim MS

In [9]:
# 7. Drop the rows where there is no Hotel Name.

In [11]:
# 8a. Create the output File (CSV)
output_data_file = './Vacation Search/WeatherPy_Vacation.csv'
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [12]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Weather Description} at {Max Temp}</dd>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [13]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))